{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!
{% endblock %}

{% block body %}
<div id="cart-message">
    Produit ajouté au panier !
</div>
	<h1>Produits</h1>

	<div class="produitBanner">
		<div class="littleBanner">
			<p>Chez Sandraya, le point de croix se réinvente à travers la résine.
				Chaque création artisanale associe la délicatesse du fil à la transparence moderne de la résine pour donner naissance à des pièces uniques et élégantes.
				
				Pendentifs, porte-clés ou objets décoratifs : chaque article est réalisé à la main avec soin, passion et souci du détail. Les créations Sandraya sont pensées comme de petits trésors faits pour durer, à offrir ou à garder pour soi.
				
				Entrez dans l’univers de Sandraya et découvrez un artisanat créatif où chaque pièce raconte une histoire.</p>
		</div>
		<div class="littleBanner">
			<img src="{{asset('assets/uploads/moltiProdotti.jpg')}}" alt="">
		</div>
	</div>


	<h2>Pendentifs</h2>
{% include 'produits/_collection.html.twig' with {
    produits: produits,
    category: 'pendentif'
} %}

<h2>Porte-clés</h2>
{% include 'produits/_collection.html.twig' with {
    produits: produits,
    category: 'pendentifFleur'
} %}
{% endblock %}
