* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #1a2e25;
    font-family: "Merriweather", serif;
    text-align: center;
    margin: 3% 0;
}

body {
    background-color: #e5d6c0;
    color: #1a2e25;
    font-family: "Patrick Hand", cursive;
    overflow-x: hidden;
}

h2 {
    text-align: center;
}

button {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    color: #1a2e25;
    box-shadow: 1px 1px 10px #e79ebd;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #e79ebd;
    color: #1a2e25;
}

/* NavBar */

.titre {
    text-align: center;
    position: relative;
    margin-top: 2%;
    z-index: -1;
}
.titre :nth-child(3) {
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
}
.titre :nth-child(1) {
    position: absolute;
    width: 25%;
    left: 0;
    z-index: -1;
    transform: rotateY(180deg);
    pointer-events: none;
}
.navBar {
    display: flex;
    justify-content: center;
    gap: 2%;
    z-index: 1000;
}

.navBar a {
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    color: #1a2e25;
    box-shadow: 1px 1px 10px #e79ebd;
    transition: all 0.5s ease-in-out;
}

.navBar a:first-child {
    margin-left: 20px;
}

.navBar a:hover {
    background-color: #e79ebd;
    color: #1a2e25;
}

.nav i {
    font-size: 1.5em;
    cursor: pointer;
    color: #e79ebd;
    -webkit-text-stroke: 1.5px #000;
    margin-left: 10px;
}

/* Panier et Connexion */

.icone {
    background-color: #ccb089;
    text-align: end;
    padding: 10px 20px 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
}

.show {
    position: absolute;
    right: 0;
    top: 5vh;
    background-color: #ccb089;
    padding: 20px;
    border-radius: 0 0 0 20px;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    width: 10%;
    font-size: 1.2em;
    text-align: end;

    transition:
        opacity 1s ease,
        transform 1s ease;
}
.showPanier {
    position: fixed;
    right: 0;
    top: 5vh;
    background-color: #fff;
    box-shadow: -5px 5px 10px #e79ebd;
    padding: 20px;
    z-index: 2005;
    border-radius: 0 0 0 20px;
    opacity: 0;
    transform: translateX(30px);
    pointer-events: none;
    width: 30%;
    font-size: 1.2em;
    text-align: end;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;

    transition:
        opacity 1s ease,
        transform 1s ease;
}

.remove-btn,
.add-one-btn {
    font-size: 1.5em;
}
.showPanier #panier-list {
    flex: 1;
    list-style: none;
    overflow-y: auto;
    padding: 10px;
    margin: 0;
}

#panier-list::-webkit-scrollbar {
    width: 6px;
}
#panier-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

#panier-list li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.textPanier {
    display: flex;
    flex-direction: column;
}

.imgPanier {
    width: 50%;
}

#panier-total,
#cart-actions {
    padding: 10px;
    border-top: 1px solid #eee;
}

.imgPanier img {
    width: 100%;
}

.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.active2 {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.show ul {
    list-style: none;
}

.show a {
    text-decoration: none;
    color: #1a2e25;
    position: relative;
}
.show a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #1a2e25;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s ease-in-out;
}

.show a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/* Footer */

footer {
    margin-top: 20px;
    background-color: #ccb089;
    padding-top: 20px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 2%;
}

.footer div {
    width: 17%;
}

footer a {
    text-decoration: none;
    color: #1a2e25;
    position: relative;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #1a2e25;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s ease-in-out;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

footer ul {
    list-style: none;
    margin-top: 60px;
}

footer ul li {
    margin: 10px 0;
}

footer p {
    text-align: center;
}

.footer-little img {
    width: 80%;
}

.hide {
    position: relative;
    z-index: 1;
}
/* Formulaire registration */

#form-register {
    width: 20%;
    margin: 0 auto;
}

form label {
    width: 100%;
    display: block;
    margin: 5px 0;
}

form input {
    margin: 5px 0;
    padding: 7px 5px;
    border-radius: 20px;
    border: 1px solid #e79ebd;
    width: 100%;
    display: block;
    background-color: #fff;
}

form input:focus {
    outline: 2px solid #e79ebd;
}

#form-register form div:nth-child(10) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form button {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    color: #1a2e25;
    box-shadow: 1px 1px 10px #e79ebd;
    transition: all 0.5s ease-in-out;
    margin: 10px 0;
}

form button:hover {
    background-color: #e79ebd;
    color: #1a2e25;
}

/* Formulaire login */

#form-login {
    width: 20%;
    margin: 0 auto;
}

/* Carousel Big */

.carousel {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
}
.contImage {
    display: flex;
    width: 100%;
}
.exa {
    height: 70vh;
    min-width: 100%;
    transition: all 1s ease-in-out;
    margin: 0 auto;
    text-align: center;
}
.exa img {
    width: 60%;
    height: 100%;
    box-shadow: 1px 1px 30px #e79ebd;
}
.freccia,
.freccia2,
.freccia3,
.freccia4 {
    cursor: pointer;
    font-size: 1.25em;
    margin: 0 10px;
    z-index: 2001;
}

/* Page produit */

#cart-message {
    transition: opacity 0.5s ease;
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
}

#cart-message.show {
    opacity: 1;
}

.produitBanner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    position: relative;
    z-index: -1;
}

.littleBanner {
    width: 50%;
    transition: all 2s ease-in-out;
    opacity: 0;
}

.littleBanner:first-child {
    transform: translateX(110%);
}

.littleBanner:last-child {
    transform: translateX(-110%);
}

.produitBanner.visible .littleBanner {
    opacity: 1;
    transform: translateX(0);
}

.littleBanner img {
    width: 75%;
    margin: auto;
}

.littleBanner p {
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

.collection {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 80vh;
    position: relative;
    z-index: 1;
}
.carte-container {
    display: flex;
    width: 100%;
}

.carte {
    min-width: calc(100% / 3);
    text-align: center;
    position: relative;
    height: 60vh;
}

.addToCart {
    background-color: #e79ebd;
    padding: 4px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2em;
    position: absolute;
    top: 2%;
    left: 22%;
    cursor: pointer;
}

.img {
    transition: all 2s ease-in-out;
}

.cornice {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 35%;
    z-index: 1000;
}

.produitImage {
    width: 60%;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #e79ebd;
    border: solid 3px #ffffff;
}

.text {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    width: 40%;
}

/* DetailProduit */

.sin img {
    width: 100%;
    height: 50vh;
}

.contain {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 2%;
    position: relative;
    border: 1px solid;
}

.sin {
    width: 50%;
    text-align: right;
}
.dest {
    width: 100%;
}

.imgPicco {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.imgPicco img {
    height: 10vh;
}

.description {
    width: 100%;
}
.quantite-select {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 2%;
}

.quantite-select input {
    padding: 5px;
}

.prix-total-display {
    position: absolute;
    bottom: 10%;
    font-size: 3em;
}

/* PAGE PROFIL */

.profile {
    width: 50%;
    margin: 0 auto 10% auto;
    background-color: white;
    box-shadow: 1px 1px 10px #e79ebd;
    padding: 10px;
    border-radius: 10px;
}

.profile ul {
    list-style: none;
}

.profile ul li {
    margin: 10px 0;
}

.button {
    display: flex;
    justify-content: space-around;
}

.profile a {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    color: #1a2e25;
    box-shadow: 1px 1px 10px #e79ebd;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.profile a:hover {
    background-color: #e79ebd;
    color: #1a2e25;
}

.profile h2 {
    text-align: center;
}

/* CANVAS */

canvas.stitch-title {
    width: 100%;
    height: 200px;
    display: block;
}

.favoris {
    background-color: #e79ebd;
    position: absolute;
    padding: 2.5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2em;
    cursor: pointer;
    top: 2%;
    left: 30%;
}

